*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background-color : #cecece;
    --primary-color: #274c77;
    --secondary-color: #6096ba;
    --supporting-color: #a3cef1;
}

html{
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: var(--background-color);
}

p{
    font-size: 1.6rem;
}

/*########################## HEADER ############################################*/

.landing-header{
    height: 60%;
    width: 100%;
    margin: 0;
    padding-left: 10%;
    color: #eee;
    background-color: #6096BA;
    position: relative;
}

.landing-header__logo__tekst{
    width: 20rem;
    height: 5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 3rem;
}



.landing-header__logo__tekst--subpage{
    top: 0;
    left: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    width: auto;
}

.landing-header__tekst{
    width: 100%;
}

.landing-header__tekst__title{
    font-size: 2.8rem;
    letter-spacing: .1rem;
    padding-top: 4rem;
    max-width: 100vw;
    margin: 0;
}

@media(min-width: 900px){
    .landing-header__tekst__title{
        font-size: 4.4rem;
    }
}

.landing-header__tekst__p{
    width: 80%;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.landing-header__image{
    display: none;
}

@media(min-width: 1200px){
    .landing-header__tekst__p{
        width: 50%;
    }

    .landing-header__image{
        display: block;
        max-width: 40rem;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
    }

    .landing-header__image--kleren{
        width: 27rem;
        margin-top: 6%;
        margin-left: 40%;
    }

    .landing-header__image--auto{
        width: 40rem;
        margin-left: 55%;
    }

    .landing-header__image--camera{
        width: 40rem;
        margin-top: 14%;
        margin-left: 70%;
    }
}


.nav__subpage{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    align-items: center;
}

/*###################################### NAV #################################*/

.nav{
    bottom: 0;
    right: 0;
    padding-top: 2rem;
    padding-right: 0rem;
    display: block;
    position: fixed;
    background: var(--primary-color);
    font-size: 1.2rem;
}

.nav__list{
    list-style: none;
    top: 0;
    align-self:flex-end;
}

.nav__list__item{
    display: inline;
    margin-left: 2rem;
}

.nav__list__item--link{
    color: #eee;
    font-size: 1.3rem;
    text-decoration: none;
}

.nav__list__button{
    display: inline;
    padding-bottom: 1rem;
}

.nav-subpage{
    background-color: var(--secondary-color);
    min-height: 6rem;
    color: #eee;
    display: flex;
    width: 100%;
    flex-direction: row;
}


/*#############################################################################*/
.GridCard > a{
    text-decoration: none;
}

.sushiCard{
    width: 35rem;
    height: 35rem;
    box-shadow: 0 .5rem 2rem black;
    position: relative;
}


@media(min-width: 37.5rem){
    .sushiCard{
        width: 55rem;
        height: 55rem;
    }
    .sushiCard__image{
        width: 100%;
        max-height: 35rem;
        padding-bottom: 0 2rem;
        position: absolute;
    }

    .sushiCard__figure{
        height: 40%;
    }
}

.sushiCard::after{
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--supporting-color);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.sushiCard__figure{
    height: 60%;
}

.sushiCard__image{
    max-width: 90%;
    padding-bottom: 0 2rem;
    position: absolute;
}

.sushiCard__text{
    font-size: 1.6rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    height: 20%;
}

.sushiCard__btnSection{
    height: 20%;
    padding-left: 2rem;
}

.sushiCard__button{
    padding: 1.5rem 4rem;
 
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: #eee;
    border: 0;
    font-size: 1.6rem;
    box-shadow: 0 0 5rem var(--secondary-color);
}

@media(min-width: 37.5rem){
    .sushiCard__button{
        width: 25rem;
        height: 8rem;
    }
}


.sushiCard__button:hover{
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(7, 104, 159, 1.2);
    transition: 0.3s box-shadow;
}

.sushiCard__back_to_home{
    display: block;
    margin-top: 1rem;
    color: #212121;
    font-size: 1.5rem;
}

/* ########################## STYLE SUSHI KINDS  ########################## */
.GridCard::after{
    content: "";
    width: 10%;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.GridCard[data-kind-of-sushi="Maki"]::after{
    background-color: #f67280;
}

.GridCard[data-kind-of-sushi="Sashimi"]::after{
    background-color: #f6f7d7;
}

.GridCard[data-kind-of-sushi="Nigiri"]::after{
    background-color: #ff5722;
}

.GridCard[data-kind-of-sushi="Temaki"]::after{
    background-color: #fed049;
}

.GridCard[data-kind-of-sushi="Uramaki"]::after{
    background-color: #0c056d;
}

/*##########################  Sushicard--index.blade ################### */

.GridCard{
    grid-column: span 4;
    width: 100%;
    height: 100%;
    box-shadow: 0 .5rem 2rem black;
    position: relative;
    background-color: var(--secondary-color);
}

@media (max-width: 56.25rem){
    .GridCard{
        grid-column: span 6;
    }
}

@media (max-width: 32.5rem){
    .GridCard{
        grid-column: span 12;
    }
}

.GridCard__image{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.GridCard__header{
    width: 100%;
    height: 20%;
    color: #eee;
}

.GridCard__heading{
    font-size: 2.2rem;
    color: #eee; 
}

.GridCard__textSection{
    width: 100%;
    height: 20%;
    color: #eee;
    font-size: 1.5rem;
}

.create-form{
    width: 55%;
    margin: 10% auto;
    box-shadow: 0 .5rem 2rem black;
    height: 90%;
    width: 60%;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #eee;
}

.create-form__form{
    width: 100%;
}

.create-form__section{
    margin-top: 4rem;
    font-size: 1.6rem;
    width: 100%;
}

.create-form__input{
    display: block; /*Op een nieuwe lijn*/
    font-family: sans-serif;
    width: 70%;
    font-size: 1.6rem;
    margin-top: 1rem;
    height: 3.5rem;
}

.create-form__textarea{
    width: 70%;
    height: 7rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-family: sans-serif;
}

.filter-section{
    margin: 12rem 10%;
    display: flex;
}

.filter-section__title{
    font-size: 3.5rem;
    width: 30rem;
    color: var(--primary-color)
}

.filter_section__label{
    font-size: 1.8rem;
    color: var(--primary-color);
    padding-left: 2rem;
    position: relative;
}

.filter_section__input[type="checkbox"]{
    display: none;
}

.filter_section__label::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    border: .2rem solid var(--primary-color);  
    top: .3rem;
    left: -1rem;
}

.filter_section__label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    transform: rotate(-45deg);
    left: -.6rem;
    top: .7rem;
}

.filter-section-wrapper{
    display: flex;
    flex-direction: column;
}

@media(min-width: 1200px){
    .filter-section-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 1.6rem;
        margin-left: 1rem;
        align-items: center;
        gap: 1rem;
    }   
}


.filter-section-wrapper li{
    list-style: none;
    margin-bottom: 3rem;
    margin-right: 2.5rem
}

.filter-section-wrapper li > a{
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: .05rem;
}

.filter_section__input[type="checkbox"] + .filter_section__label::after {
    content: none;
}

.filter_section__input[type="checkbox"]:checked + .filter_section__label::after {
    content: "";
}

.searchWrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.searchWrapper__bar{
    margin: 5rem 0;
    height: 3rem;
    padding: 1rem;
    width: 50%;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
}

/* ########################## DETAILPAGE #################################### */

.details{
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    background-color: var(--secondary-color);
    max-width: 60%;
    border-radius: 2rem;
    padding: 2rem 5rem 5rem 5rem;
}

.details__back_to_home{
    font-size: 1.4rem;
    color: var(--background-color);
}

.details__header__title{
    font-weight: bold;
    font-size: 2.8rem;
    color: var(--background-color);
}

.details__header__subtitle{
    font-size: 2rem;
    color: var(--background-color);
}

.details__image{
    width: 40vw;
    border-radius: 2rem;
}

.details__btnSection{
    display: relative;
}

.details__btnSection__button{
    margin-left: 80%;
}

.details__text, .details__header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--background-color);
}

.details__text__title{
    font-size: 2rem;
}

.details__text__tekst{
    font-size: 1.6rem;
}

.details__reviews__title{
    font-size: 2.8rem;
    color: var(--background-color)
    
}

.details__reviews__submit{
    margin-left: 80%;   
}

/* ########################## REVIEWSECTION #################################### */

.reviewcard{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.reviewCard__title{
    font-size: 2.3rem;
}

.reviewCard__figure{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.reviewCard__title__score{
    font-weight: bold ;
}

.reviewCard__section{
    max-width: 60%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* ########################## UTILITY CLASSES ########################## */

.u-list-style-none{
    list-style: none;
}

.u-grid-12{
    width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
}

.u-grid-gap-2{
    gap: 2rem;
}

.u-flex-v-center{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.u-hr--small{
    width: 35rem;
    margin: 2rem 0;
}

.u-blue{
    color: var(--primary-color);
    font-weight: bold;
}

.u-white{
    color: var(--background-color);
}

.u-noLinkStyle{
    color: inherit;
    text-decoration: none;
}

.u-margin{
    margin: 0 1rem 0 0;
}

.u-margin--nav{
    margin: 0 1rem 0 0;
}

.u-float{
    float: right;
}
/* ################## KEYFRAMES ###########################*/
.a-popup{
    animation: popup .8s linear; 
    animation-fill-mode: backwards;
    /* delay iteration-count direction fill-mode; */
}

.a-popup:nth-of-type(2n){
    animation-delay: .2s;
}

.a-popup:nth-of-type(3n){
    animation-delay: .1s;
}

/*-------------------- BUTTON -------------------------------*/
.u-button{
    border: none;
    border-radius: 1rem;
    font-weight: 400;
}

.u-button--primary{
    padding: 1.1rem 1.3rem;
    color: #eee;
    background-color: var(--primary-color);
}

.u-button--secondary{
    padding: .9rem 1.3rem;
    color: #eee;
    background: none;
    border: 2px solid var(--primary-color);
}

.u-button:hover{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(.2rem) translateZ(0);
}



@keyframes popup{
    0%{
        transform: scale(1.05) translateY(2rem);
        opacity: 0;
    }
    70%{
        transform: scale(1);
    }

    100%{
        opacity: 1;
    }
}

/* ########## LOGIN ######################*/


/* @media(min-width: 900px){
    .landing-header{
        padding-left: 10%;
    }
} */