*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color : #cecece;
    --primary-color: #274c77;
    --secondary-color: #6096ba;
    --supporting-color: #a3cef1;
}

html{
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: var(--background-color);
}

p{
    font-size: 1.6rem;
}

/*########################## HEADER ############################################*/

.landing-header{
    height: 60%;
    width: 100%;
    margin: 0;
    padding-left: 10%;
    color: #eee;
    background-color: #6096BA;
    position: relative;
}

.landing-header__logo__tekst{
    width: 20rem;
    height: 5rem;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 3rem;
}

.landing-header__logo__tekst--subpage{
    top: 0;
    left: 0;
    padding-top: 0rem;
    padding-left: 1rem;
    width: auto;
}

.landing-header__tekst{
    width: 100%;
}

.landing-header__tekst__title{
    font-size: 2.8rem;
    letter-spacing: .1rem;
    padding-top: 4rem;
    max-width: 100vw;
    margin: 0;
}

@media(min-width: 900px){
    .landing-header__tekst__title{
        font-size: 4.4rem;
    }
}

.landing-header__tekst__p{
    width: 80%;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.landing-header__image{
    display: none;
}

@media(min-width: 1200px){
    .landing-header__tekst__p{
        width: 50%;
    }

    .landing-header__image{
        display: block;
        max-width: 40rem;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
    }

    .landing-header__image--kleren{
        width: 27rem;
        margin-top: 6%;
        margin-left: 40%;
    }

    .landing-header__image--auto{
        width: 40rem;
        margin-left: 55%;
    }

    .landing-header__image--camera{
        width: 40rem;
        margin-top: 14%;
        margin-left: 70%;
    }
}


.nav__subpage{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    align-items: center;
}

/*###################################### NAV #################################*/


.nav{
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 0rem;
    position: fixed;
    background: rgb(39,76,119, 0.5);
    font-size: 1.2rem;
}

.nav__list{
    list-style: none;
    top: 0;
    align-self:flex-end;
}

.nav__list__item{
    display: inline;
    margin-left: 2rem;
}

.nav__list__item--link{
    color: #eee;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    transition: .5s all;
}

.nav__list__item--link:hover{
    background-color: rgb(39,76,119, 0.5);
}

.nav__list__button{
    display: inline;
    padding-bottom: 1rem;
}

.nav-subpage{
    z-index: 4;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 0rem;
    display: flex;
    position: fixed;
    background: rgb(39,76,119, 0.5);
    font-size: 1.2rem;
}

.landing-header__logo{
    display: none;
}

.nav__subpage__item--greeting{
    display: none;
}

@media (min-width: 700px){
    .nav{
        top: 0;
        right: 0;
        padding-top: 2rem;
        padding-right: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: row;
        position: absolute;
        background: none;
        font-size: 1.2rem;
        height: 7rem;
        width: 100%;
    }

    .nav-subpage{
        top: 0;
        right: 0;
        height: 6rem;
        background: var(--secondary-color);
        min-height: 6rem;
        color: #eee;
        display: inline-block;
        width: 100%;
        flex-direction: row;
    }

    .landing-header__logo{
        display: block;
    }

    .nav__subpage__item--greeting{
        display: block;
    }
}


/*#############################################################################*/
.GridCard > a{
    text-decoration: none;
}



/* ########################## STYLE SUSHI KINDS  ########################## */
.GridCard::after{
    content: "";
    width: 10%;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}



/*##########################  Sushicard--index.blade ################### */

.GridCard{
    grid-column: span 4;
    width: 100%;
    padding: 1rem 0 5rem 0;
    box-shadow: 0 .5rem 2rem black;
    position: relative;
    background-color: var(--secondary-color);
}

@media (max-width: 56.25rem){
    .GridCard{
        grid-column: span 6;
    }
}

@media (max-width: 32.5rem){
    .GridCard{
        grid-column: span 12;
    }
}

.GridCard__image{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.GridCard__header{
    width: 100%;
    height: 20%;
    color: #eee;
}

.GridCard__heading{
    font-size: 2.2rem;
    color: #eee; 
}

.GridCard__textSection{
    width: 100%;
    height: 20%;
    color: #eee;
    font-size: 1.5rem;
}

.GridCard__buttonSection{
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}

.GridCard__borrowerSection{
    color: #eee;
}

.GridCard__deadline{
    color: #eee;
    font-weight: bold;
    margin-left: 5%;
}

.GridCard__statusSection{
    margin-bottom: 1rem;
}

.GridCard__statusSection--text{
    font-style: italic;
    color: #eee;
}

.create-form{
    width: 100%;
    margin: 10% auto;
    box-shadow: 0 .5rem 2rem black;
    width: 90%;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #eee;
}

.create-form__form{
    width: 100%;
}

.create-form__section{
    margin-top: 4rem;
    font-size: 1.6rem;
    width: 100%;
}

.create-form__input{
    display: block; /*Op een nieuwe lijn*/
    font-family: sans-serif;
    width: 100%;
    font-size: 1.6rem;
    margin-top: 1rem;
    height: 3.5rem;
}

.create-form__textarea{
    width: 100%;
    height: 7rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-family: sans-serif;
}

@media(min-width: 700px){
    .create-form{
        margin: 15% auto;
        width: 60%;
    }

    .create-form__input{
        width: 70%;
    }

    .create-form__textarea{
        width: 70%;
    }
}

.filter-section{
    margin: 12rem 10%;
    display: flex;
}

.filter-section__title{
    font-size: 3.5rem;
    width: 30rem;
    color: var(--primary-color)
}

.filter_section__label{
    font-size: 1.8rem;
    color: var(--primary-color);
    padding-left: 2rem;
    position: relative;
}

.filter_section__input[type="checkbox"]{
    display: none;
}

.filter_section__label::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    border: .2rem solid var(--primary-color);  
    top: .3rem;
    left: -1rem;
}

.filter_section__label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    transform: rotate(-45deg);
    left: -.6rem;
    top: .7rem;
}

.filter-section-wrapper{
    display: flex;
    flex-direction: column;
}

@media(min-width: 1200px){
    .filter-section-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 1.6rem;
        margin-left: 1rem;
        align-items: center;
        gap: 1rem;
    }   
}


.filter-section-wrapper li{
    list-style: none;
    margin-bottom: 3rem;
    margin-right: 2.5rem
}

.filter-section-wrapper li > a{
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: .05rem;
}

.filter_section__input[type="checkbox"] + .filter_section__label::after {
    content: none;
}

.filter_section__input[type="checkbox"]:checked + .filter_section__label::after {
    content: "";
}

.searchWrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchWrapper__bar{
    margin: 5rem 0;
    height: 3rem;
    padding: 1rem;
    width: 50%;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 700px){
    .searchWrapper{
        margin-top: 10rem;
    }
}

/* ########################## DETAILPAGE #################################### */
.details{
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    background-color: var(--secondary-color);
    max-width: 90%;
    border-radius: 2rem;
    padding: 2rem;
}

.details__back_to_home{
    font-size: 1.4rem;
    color: #eee;
}

.details__header__title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #eee;
}

.details__header__subtitle{
    font-size: 2rem;
    color: #eee;
}

.details__image{
    width: 40vw;
    border-radius: 2rem;
}

.details__btnSection{
    position: relative;
}

.details__reviews__submit, .details__btnSection__button{
    margin: 5% 0;   
}

.details__text, .details__header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #eee;
}

.details__text__title{
    font-size: 2rem;
}

.details__text__tekst{
    font-size: 1.6rem;
}

.details__reviews__title{
    font-size: 2.8rem;
    color: #eee;
}

@media(min-width: 700px){
    .details{
        display: flex;
        flex-direction: column;
        margin: 5rem auto;
        background-color: var(--secondary-color);
        max-width: 60%;
        border-radius: 2rem;
        padding: 2rem 5rem 5rem 5rem;
    }
}

/* ########################## REVIEWSECTION #################################### */

.reviewcard{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.reviewCard__title{
    font-size: 2.3rem;
}

.reviewCard__figure{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.reviewCard__title__score{
    font-weight: bold ;
}

.reviewCard__section{
    max-width: 60%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* ########################## PROFILE ################################ */
.profile-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-card{
    margin-left: 10%;
    margin-bottom: 3rem;
    background: var(--primary-color);
    color: #eee;
    padding: 1.5rem;
    width: 80%;
}

.profile-card__title{
    font-size: 2rem;
}

.profile-card__email{
    display: flex;
    flex-direction: row;
}

.profile-card__email__link{
    color: #eee;
    font-size: 1.5rem;
    padding-left: .5rem;
}

.profile-content__title{
    font-size: 2rem;
    margin-left: 5%;
}

@media (min-width:700px){
    .profile-logo{
        display: none;
    }

    .profile-card, .account-card{
        margin-left: 5%;
        margin-bottom: 3rem;
        background: var(--primary-color);
        color: var(--background-color);
        padding: 1.5rem;
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    .profile-card__title{
        font-size: 4rem;
    }

    .profile-card__content{
        display: flex;
        flex-direction: column ;
    }
}
/* ######################### ACCOUNT ################################## */
.account-card{
    background-color: var(--primary-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
    color: #eee;
}

.account__beheer{
    background-color: var(--secondary-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
    color: #eee;
}

@media (min-width:700px){
    .account__title{
        font-size: 4rem;
    }

    .account--subtitle{
        font-size: 4rem;
        color: white;
    }

    .account__beheer{
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        align-items: center;
        background: var(--secondary-color);
        display: flex;
        gap: 2rem;
    }

    .account__beheer__blokkeren{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .account__beheer__blokkeren__title{
        font-size: 2.5rem;
        color: #eee;
    }

    .account__beheer__blokkeren__input{
        height: 4rem;
        font-size: 1.6rem;
        font-family: 'Raleway', sans-serif;
    }

    .account__aanbod, .account__uitgeleend, .account__geleend{
        margin-left: 5%;
    }

    .account__aanbod__title, .account__uitgeleend__title, .account__geleend__title{
        font-size: 3rem;
    }
}

@media (min-width:1200px){
    .account__beheer__blokkeren{
        flex-direction: row;
    }
}

/* ########################## UTILITY CLASSES ########################## */
.u-bold{
    font-weight: bold;
}

.u-list-style-none{
    list-style: none;
}

.u-grid-12{
    width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
}

.u-grid-gap-2{
    gap: 2rem;
}

.u-flex-v-center{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.u-hr--small{
    width: 35rem;
    margin: 2rem 0;
}

.u-blue{
    color: var(--primary-color);
    font-weight: bold;
}

.u-white{
    color: #eee;
}

.u-noLinkStyle{
    color: inherit;
    text-decoration: none;
}

.u-margin{
    margin: 0 1rem 0 0;
}

.u-margin--nav{
    margin: 0 1rem 0 0;
}

.u-float{
    float: right;
}
/* ################## KEYFRAMES ###########################*/
.a-popup{
    animation: popup .8s linear; 
    animation-fill-mode: backwards;
    /* delay iteration-count direction fill-mode; */
}

.a-popup:nth-of-type(2n){
    animation-delay: .2s;
}

.a-popup:nth-of-type(3n){
    animation-delay: .1s;
}

/*-------------------- BUTTON -------------------------------*/
.u-button{
    border: none;
    border-radius: 1rem;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
}

.u-button--primary{
    padding: 1.1rem 1.3rem;
    color: #eee;
    background-color: var(--primary-color);
    transition: .5s all;
}

.u-button--primary:hover, .u-button--tertiary:hover{
    box-shadow: 0 .3rem 1.7rem black;
}

.u-button--secondary{
    padding: .9rem 1.3rem;
    color: #eee;
    background: none;
    border: 2px solid var(--primary-color);
    transition: .5s all;
}

.u-button--secondary:hover{
    background: var(--primary-color);
}

.u-button--tertiary{
    padding: 1.1rem 1.3rem;
    color: #212121;
    background-color: var(--supporting-color);
    transition: .5s all;
}

.u-button:hover{
    cursor: pointer;
}

.u-flex{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.u-alarm{
    animation: alarm 2s infinite;
}

@keyframes alarm{
    0%{
        color: #eee;
    }
    50%{
        color: red;
    }
    100%{
        color: #eee;
    }
}

@keyframes popup{
    0%{
        transform: scale(1.05) translateY(2rem);
        opacity: 0;
    }
    70%{
        transform: scale(1);
    }

    100%{
        opacity: 1;
    }
}

/* ########## LOGIN ######################*/


/* @media(min-width: 900px){
    .landing-header{
        padding-left: 10%;
    }
} */